.main {
	width: 400px;
	height: 480px;
	padding: 20px;
	margin: 0px auto;
	text-align:center;
}

.main .mainIMG {
	width: 360px;
}

.main .login .subButtons {
	margin: 10px auto;
}

.main .btn {
	width: 150px;
	margin: 10px auto;
}

.main .form-control {
	width: 300px;
	margin: 10px auto;
}